<a href="https://colab.research.google.com/github/DanielLizarzaburu/Challenge-amigo-secreto/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 5
y = 2.5
z = 2j

In [ ]:
print(x)

5

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
print(type(z))

<class 'complex'>

In [ ]:
xComplejo = complex(x)

In [ ]:
print(xComplejo)

(5+0j)

In [ ]:
ye = int(y)

In [ ]:
print(ye)

2

In [ ]:
import random  #la variables antes de imprimer el numero aleatorio del 1 al 9

In [ ]:
print(random.randrange(1, 9)) #es para imprimir un numero aleatorio del 1 al 9

1

In [ ]:
ingles = "I 'm Buru"

In [ ]:
print(ingles)

I 'm Buru

In [ ]:
multiples = """Hola
mundo,
esto es una pruena
donde podemos
escribir una oracion
en distintos
renglones, para eso
se usa triple comilla
"""

In [ ]:
print(multiples)

Hola
mundo,
esto es una pruena
donde podemos
escribir una oracion
en distintos
renglones, para eso
se usa triple comilla

In [ ]:
texto = "este curso es de fundamentos de Python"
Texto2 = "ESTE CURSO ES DE FUNDAMENTOS"
estaIncluida = "Python" in texto

In [ ]:
print(estaIncluida)

True

In [ ]:
mayuscula = texto.upper()  # Es para converti un texto a mayuscula
minuscula = Texto2.lower()  # Es para convertir un texto a minuscula

In [ ]:
print(mayuscula)
print(minuscula)

ESTE CURSO ES DE FUNDAMENTOS DE PYTHON
este curso es de fundamentos

In [ ]:
# ind 01234...
texto = "Este es un texto"

In [ ]:
print(texto[0:5])
print(texto[5:])
print(texto[:6])
print(texto[:-2])
print(texto[-2:])

Este
es un texto
Este e
Este es un tex
to

In [ ]:
curso = "Este curso es de Javascript"

In [ ]:
print(curso.replace("Javascript", "Python"))

Este curso es de Python

In [ ]:
textoDividido = texto.split(" ") # Es para separar un texto por comas

In [ ]:
print(textoDividido)

['Este', 'es', 'un', 'texto']

In [ ]:
x = 12.5

In [ ]:
print(isinstance(x, int))

False

In [ ]:
x = None # None significa ausencia de valor

In [ ]:
print(x)
print(type(x))

None
<class 'NoneType'>

In [ ]:
print(type(""))  #Asi existan ausencia de valor, el codigo indentifica segun el simbolo que tipo de dato es
print(type([]))
print(type(0))
print(type(()))
print(type({}))
print(type(True))
print(type(False))

<class 'str'>
<class 'list'>
<class 'int'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'bool'>

In [ ]:
x = 5
y = 3

In [ ]:
print("Suma:", x + y)

Suma: 8

In [ ]:
#operadores de asignacion
x = 5
x += 3
x -= 3
x *= 3
x /= 3
x %= 3

In [ ]:
print(x)  #lo resuelve de forma continua segun las variables asignadas

2.0

In [ ]:
# CONDICIONALES
x = 5
y = 3

In [ ]:
if x > y:
    print("x es mayor que y")
elif x == y:
    print("x es igual que y")
else:
    print("x es menor que y")

x es mayor que y

In [ ]:
# otro caso
a = "Python"
b = "Javascript"
c = "Python"

In [ ]:
if a == c:
    print("a y c son iguales")
else:
    print("a y c no son iguales")

a y c son iguales

In [ ]:
if a == c:
    if a == b:
      print("a es igual que c y distinto de b")
    else:
      print("estoy saliendo por el else del if interno")  # si se cumple el if externo pero el if interno no se cumple, debe salir este print
else:
  print("a es igual a c")

estoy saliendo por el else del if interno

In [ ]:
# caso especial
e = 10
f = 10

In [ ]:
if e == f:
  pass # Sirve para ignorar la estructura if hasta tanto definamos que comportamiento se espera

In [ ]:
dia = 5

In [ ]:
match dia:
  case 1:
    print("Lunes")
  case 2:
    print("Martes")
  case 3:
    print("Miercoles")
  case 4:
    print("Jueves")
  case _:
    print("No coincide con niguna de las anteriores opciones")

No coincide con niguna de las anteriores opciones

In [ ]:
# bucles while en Python : se ejecuta cuando una condicion es verdadera
i = 1

In [ ]:
while i < 10:
  print(i)
  if i == 5:
    break # significa que en 5 tiene que parar de contar
  i += 1

1
2
3
4
5

In [ ]:
# bucles for en python : se usa para itererar sobre una secuencia(lista, cadena, rango, etc)
palabra = "python"

In [ ]:
for letra in palabra:
  print(letra)

p
y
t
h
o
n

In [ ]:
frutas = ["manzana", "platano", "cereza", "piña", "durazno", "papaya"]

In [ ]:
for fruta in frutas:
  if fruta == "piña":
    break # hace que se detenga el bucle en fruta == cereza
  print(fruta)

# --- Respuesta a tu pregunta ---
# Sí, es correcto colocar los elementos entre paréntesis para crear una tupla.
# Las tuplas son colecciones ordenadas e inmutables de elementos.
print("El tipo de dato de 'frutas' es: {type(frutas)}")

manzana
platano
cereza
El tipo de dato de 'frutas' es: {type(frutas)}

In [ ]:
for fruta in frutas:
  if fruta == "cereza":
    continue # No detiene el ciclo, solo Salta a la siguiente iteración del bucle, salta en fruta == platano
  print(fruta)
else:
  print("Se termino el bucle")

manzana
platano
piña
durazno
papaya
Se termino el bucle

In [ ]:
adjetivos = ["Rica", "Saludable"]
frutas = ["Manzana", "Piña", "Cereza"]

In [ ]:
for fruta in frutas:
  for adjetivo in adjetivos:
    print(fruta, adjetivo)

Manzana Rica
Manzana Saludable
Piña Rica
Piña Saludable
Cereza Rica
Cereza Saludable

In [ ]:
# range (rango)
# comienza desde el 0 y termina en el numero que asignemos sin incluirlo
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3,5):
  print(i)

3
4

In [ ]:
for i in range(2, 30, 3): # significa que va a empezar en 2 e ira avanzando de 3 en 3, hasta llegar a uno antes del 30
  print(i)

2
5
8
11
14
17
20
23
26
29

In [ ]:
# LISTAS: las listas son ordeandas, modificables y permiten valores duplicados

# indices     0         1        2         3
frutas = ["Manzana", "Papaya", "Pera", "Manzana"]
print(frutas)
print(type(frutas))

frutas[1] = "Platano"
print(frutas)
print(frutas[1])

print("------------")

lista = ["Buru", 11, True]
print(lista)
print(type(lista))

print("----------")

print(len(lista)) # la funcion len, nos dice cuantos datos tiene dicho conjunto
print(len(frutas))

print(frutas[1:3])
print(frutas[:3])
print(frutas[2:])

if "Manzana" in frutas:
  print("Si hay Manzana en la lista")

['Manzana', 'Papaya', 'Pera', 'Manzana']
<class 'list'>
['Manzana', 'Platano', 'Pera', 'Manzana']
Platano
------------
['Buru', 11, True]
<class 'list'>
----------
3
4
['Platano', 'Pera']
['Manzana', 'Platano', 'Pera']
['Pera', 'Manzana']
Si hay Manzana en la lista

In [ ]:
# indice       0          1         2
vehiculos = ["Auto", "Bicicleta", "Moto"]

# metodos
# append, (agrega un elemento al final de la lista)
vehiculos.append("Escuter")
print(vehiculos)
# insert, agrega un elemento en la posicion que indiquemos
vehiculos.insert(1, "Minivan")
print(vehiculos)
# extend, agrega elementos al final de la lista
vehiculos.extend(["Camion", "Tren"])
print(vehiculos)
#remove, elemina un elemento
vehiculos.remove("Moto")
print(vehiculos)
# pop, elimina un elemento especificando su indice
vehiculos.pop(2)
print(vehiculos)
#sort, ordena la lista de forma alfabetica
vehiculos.sort()
print(vehiculos)
# reverse, invierte el orden de la lista
vehiculos.reverse()
print(vehiculos)

['Auto', 'Bicicleta', 'Moto', 'Escuter']
['Auto', 'Minivan', 'Bicicleta', 'Moto', 'Escuter']
['Auto', 'Minivan', 'Bicicleta', 'Moto', 'Escuter', 'Camion', 'Tren']
['Auto', 'Minivan', 'Bicicleta', 'Escuter', 'Camion', 'Tren']
['Auto', 'Minivan', 'Escuter', 'Camion', 'Tren']
['Auto', 'Camion', 'Escuter', 'Minivan', 'Tren']
['Tren', 'Minivan', 'Escuter', 'Camion', 'Auto']

In [ ]:
# unir listas
coleccion1 = ["manzana", "platano", "cereza"]
coleccion2 = [1, 2, 3]
coleccion3 = coleccion1 + coleccion2
print(coleccion3)

print("-----------")

coleccion1.extend(coleccion2)
print(coleccion1)

['manzana', 'platano', 'cereza', 1, 2, 3]
-----------
['manzana', 'platano', 'cereza', 1, 2, 3]

In [ ]:
# tupla, coleccion ordenada e inmutable de elementos que permiten duplicados


# indice          0           1          2        3
tecnologias = ("Python", "Javascript", "Java", "Python")
print(tecnologias)
print(tecnologias[2])
print(type(tecnologias))
print(len(tecnologias))

frutas = ("Manzana")
print(type(frutas))
frutas = ("Manzana",) #la coma despues del elemento hace que imprima la clase tuple
print(type(frutas))
print("------------")

tupla = ("Python", 5, True)
print(tupla)
x, y, z, = tupla
print(x)
print(y)
print(z)
print(tupla*2)
print("------------")

# un truco para convertir una tupla a lista
tuplaAModificar = ("Python", "Javascript", "Java")
listaComodin = list(tuplaAModificar)
listaComodin.append("C++") # ahora si se puede agregar un elemento mas a la lista
tuplaAModificar = tuple(listaComodin)
print(tuplaAModificar)

('Python', 'Javascript', 'Java', 'Python')
Java
<class 'tuple'>
4
<class 'str'>
<class 'tuple'>
------------
('Python', 5, True)
Python
5
True
('Python', 5, True, 'Python', 5, True)
------------
('Python', 'Javascript', 'Java', 'C++')

In [ ]:
# conjuntos (set), coleccion no ordenada de elementos unicos(no se puede acceder por indice)

frutas = {"Manzana", "Platano", "Cereza", "Platano"}
print(frutas)  #no se van a imprimir los duplicados, por que son elementos unicos
print(type(frutas))

lista = {"Python", 6, True}
print(lista)
print(type(lista))

for item in lista:
  print(item)

{'Platano', 'Cereza', 'Manzana'}
<class 'set'>
{True, 'Python', 6}
<class 'set'>
True
Python
6

In [ ]:
frutas = {"Manzana", "Platano", "Cereza", "Platano"}
print(frutas)
print(type(frutas))

print("Manzana" in frutas)
print("pera" not in frutas)

{'Platano', 'Cereza', 'Manzana'}
<class 'set'>
True
True

In [ ]:
frutas = {"Manzana", "Platano", "Cereza", "Platano"}
print(frutas)
print(type(frutas))

# agregar
# add, agrega un elemento al conjunto
frutas.add("Pera")
print(frutas)

# update, agrega un conjunto de elementos, se pueden agrenar listas, tuplas, conjuntos
frutasAdicionales = {"Naranja", "Melon", "Fresa"}
frutas.update(frutasAdicionales)
print(frutas)

# remove, elemina un elemento del conjunto, si o si tiene que aparecer en el conjunto o sino da error
frutas.remove("Melon")
print(frutas)

# discard, elemina un elemento del conjunto, asi no aparezca en el conjunto
frutas.discard("Papaya")
print(frutas)

# pop, elimina uno al alzar
frutas.pop()
print(frutas)

# clear, elimina todos los elementos del conjunto
frutas.clear()
print(frutas)

# del, elimina el conjunto
del frutas

{'Platano', 'Cereza', 'Manzana'}
<class 'set'>
{'Platano', 'Cereza', 'Pera', 'Manzana'}
{'Platano', 'Cereza', 'Pera', 'Melon', 'Manzana', 'Naranja', 'Fresa'}
{'Platano', 'Cereza', 'Pera', 'Manzana', 'Naranja', 'Fresa'}
{'Platano', 'Cereza', 'Pera', 'Manzana', 'Naranja', 'Fresa'}
{'Cereza', 'Pera', 'Manzana', 'Naranja', 'Fresa'}
set()

In [ ]:
# union, interseccion y reta de conjuntos
a = {2, 3, 6,}
b = {4, 5, 6}

c = a.union(b)
print(c)

d = a.intersection(b)
print(d)

e = a.difference(b)
print(e)

{2, 3, 4, 5, 6}
{6}
{2, 3}

In [ ]:
# otra forma de hacerlo, directo en el print
a = {2, 3, 6,}
b = {4, 5, 6}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{2, 3, 4, 5, 6}
{6}
{2, 3}

In [ ]:
# diccionario python, coleccion de pares clave calor(ordenado a partir de python3.7)
# Un diccionario es una colección de pares clave-valor, lo que lo hace muy útil para almacenar datos estructurados.

auto = {
    "marca": "Renault",
    "modelo": "Clio",
    "año": 2023
}
print(auto)
print(type(auto))
print(auto["marca"]) # imprime el dato de la marca
print(auto.get("modelo")) # otra forma de imprimir el dato
print(auto.keys()) # keys son las claves, por ejemplo una clave es "marca"
print(auto.values()) # values imrpime los valores de las claves, un ejemplo de un valor es "Renault"
print(auto.items()) # imprime todos los pares clave-valor

if "modelo" in auto:
  print("Si hay un modelo en el diccionario")

{'marca': 'Renault', 'modelo': 'Clio', 'año': 2023}
<class 'dict'>
Renault
Clio
dict_keys(['marca', 'modelo', 'año'])
dict_values(['Renault', 'Clio', 2023])
dict_items([('marca', 'Renault'), ('modelo', 'Clio'), ('año', 2023)])
Si hay un modelo en el diccionario

In [ ]:
# diccionarios
auto = {
    "marca": "Renault",
    "modelo": "Clio",
    "año": 2023
     }

auto["año"] = 2020  # modifica el año
print(auto)

auto["color"] = "verde" # agrega un clave-valor
print(auto)

auto.update({"año": 2022, "puertas": 4}) # modifica el año y agrega un clave-valor nuevo
print(auto)

auto.pop("año") # elimina el año
print(auto)

auto.popitem() # elimina el ultimo elemento
print(auto)

auto.clear() # limpia el diccionario, y solo da el resultado de las { }
print(auto)

{'marca': 'Renault', 'modelo': 'Clio', 'año': 2020}
{'marca': 'Renault', 'modelo': 'Clio', 'año': 2020, 'color': 'verde'}
{'marca': 'Renault', 'modelo': 'Clio', 'año': 2022, 'color': 'verde', 'puertas': 4}
{'marca': 'Renault', 'modelo': 'Clio', 'color': 'verde', 'puertas': 4}
{'marca': 'Renault', 'modelo': 'Clio', 'color': 'verde'}
{}

In [ ]:
# diccionarios
auto = {
    "marca": "Renault",
    "modelo": "Clio",
    "año": 2023,
    "color": "Verde",
    "puertas": 4
     }

for k in auto: # keys
  print(k)
print("--------")

for v in auto.values(): # values
  print(v)
print("--------")

for k, v in auto.items(): # items
  print(k, v)

marca
modelo
año
color
puertas
--------
Renault
Clio
2023
Verde
4
--------
marca Renault
modelo Clio
año 2023
color Verde
puertas 4

In [ ]:
# diccionarios anidados

familia = {
    "hijo1": {
        "nombre": "Juan",
        "edad": 20
    },
    "hijo2": {
        "nombre": "Maria",
        "edad": 22
    },
    "hijo3": {
        "nombre": "Pedro",
        "edad": 24
    }
}

print(familia)
print(familia["hijo1"])
print(familia["hijo1"]["nombre"])

{'hijo1': {'nombre': 'Juan', 'edad': 20}, 'hijo2': {'nombre': 'Maria', 'edad': 22}, 'hijo3': {'nombre': 'Pedro', 'edad': 24}}
{'nombre': 'Juan', 'edad': 20}
Juan

In [ ]:
# funciones
# función: es un bloque de codigo que solo se ejecuta cuando la llamamos. Permiten organizar y modularizar el código (reutilización)

def mi_funcion():
  print("Hola mundo desde una función")
  print("Este es otro print")

mi_funcion()

Hola mundo desde una función
Este es otro print

In [ ]:
# CASO 1
def saludar(nombre):  # a "nombre" se le llama argumento, es lo que espera una funcion
  print("Hola", nombre)

saludar("Juan")   # "Juan" usualmente se le llama parametro
saludar("Marcelo")

Hola Juan
Hola Marcelo

In [ ]:
# CASO 2
def saludar(nombre, apellido):
  print("Hola", nombre, apellido)

saludar("Juan", "Molina")
saludar("Marcelo", "Sanchez")

Hola Juan Molina
Hola Marcelo Sanchez

In [ ]:
# CASO 3
def saludar(nombre, apellido=""): # las comillas hace, que en caso no se coloque un apellido a una funcion, por defecto no aparezca nada, es necesario las comillas de lo contrario dara error
  print("Hola", nombre, apellido)

saludar("Juan", "Molina")
saludar("Marcelo")

Hola Juan Molina
Hola Marcelo

In [ ]:
# CASO 4
def saludar(nombre, apellido="Oyarce"):
  print("Hola", nombre, apellido)

saludar("Juan", "Molina")
saludar("Marcelo")
saludar("Mayra", "Sanchez")

Hola Juan Molina
Hola Marcelo Oyarce
Hola Mayra Sanchez

In [ ]:
# CASO 5
def saludar(nombre, apellido, nacionalidad="Colombia"):
  print("Hola", nombre, apellido,"de", nacionalidad)

saludar("Juan", "Molina", "Argentina")
saludar("Marcelo", "Sanchez")
saludar("Sophia", "Mendez", "Perú")

Hola Juan Molina de Argentina
Hola Marcelo Sanchez de Colombia
Hola Sophia Mendez de Perú

In [ ]:
# CASO 6 - suma
def sumar(a, b):
  return a + b

resultado = sumar(5, 3)
print(resultado)

8

In [ ]:
# CASO 7  -  multiplicacion
def multiplicar(a, b):
  return a * b

resultado = multiplicar(5, 3)
print(resultado)

15

In [ ]:
# lambda es una función pequeña y anónima que puede tener muchos argumentos pero sólo una expresión
# sintaxis lambda argumentos : expresión

x = lambda a : a + 10
print(x(5))

15

In [ ]:
# OTRO CASO LAMBDA

def mifuncion(n):
  return lambda a : a * n

doble = mifuncion(2)     # en vez de doble también usan la palabra duplicador
triple = mifuncion(3)     # también usan la palabra triplicador
quintuple = mifuncion(5)  # también usan la palabra quintuplicar

print(doble(11))
print(triple(11))
print(quintuple(11))

22
33
55

In [2]:
# try, se usa para manejar errores (excepciones)
try:
  numero = 10/0
except ZeroDivisionError: # zeroDivisionError, hay que colocar el tipo de erro
  print("No se puede dividir por cero")

No se puede dividir por cero

In [5]:
# Lectura y escritura de texto en Python

try:
# el error es porque el archivo no existe, entonces saltamos el error con try
  f = open("archivo.txt", "r")
  print(f.readline())
  f.close() #cierra la lectura del archivo
except FileNotFoundError:
  print("El archivo no existe")

El archivo no existe

In [6]:
# otra forma donde no es necesario cerrar el archivo con close, para evitar muchas lineas de código
try:
  with open("archivo.txt", "r") as f:
    print(f.readline())
except FileNotFoundError:
  print("El archivo no existe")

El archivo no existe